html {
    margin: 0;
    padding:0;
    font-family: 'Hiragino Maru Gothic Pro','ヒラギノ丸ゴ Pro W4', sans-serif;
}


.p-chat__row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
}

.p-chat__reverse {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}